#defination{
    color: burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: small;
}
.name{
    color: red;
    background-color: aqua;
    padding: 20px;
    letter-spacing: 10px;
    word-spacing: 8px;

}
.warning{
    padding: 10px;
    border:3px solid black;
    margin: 15px;
    background-color: aquamarine;

}
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(134, 175, 211);
    font-size: larger;



}